.container {
	display: flex;
}

.containerHeader {
	min-height: calc(100vh - 6rem);
	margin: 0 auto;
	max-width: 1120px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	img {
		max-width: 460px;
		margin-left: 2rem;
	}
}

.ctaText {
	max-width: 600px;

	h1 {
		font-size: 3rem;
		font-weight: 900;
		margin: 2.5rem 0;
		color: var(--gray-100);
	}

	p {
		font-size: 1rem;
		line-height: 2.25rem;
		color: var(--gray-100);
		white-space: pre-wrap;
		text-align: justify;
	}
	a svg {
		margin-top: 15px;
	}

	svg {
		color: var(--gray-100);
		cursor: pointer;
		margin-left: 15px;
		transition: 0.5s;
	}

	svg:hover {
		color: var(--blue-900);
		cursor: pointer;
	}
}

@media (max-width: 1200px) {
	.containerHeader {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0.5rem 1rem;

		img {
			max-width: 320px;
			max-height: 120px;
			padding: 1.5rem;
			margin-left: 0;
		}
	}
	.ctaText {
		h1 {
			font-size: 2.5rem;
		}
	}
}

@media (max-width: 800px) {
	.containerHeader {
		img {
			display: none;
		}
	}
}

.postContent {
	margin-top: 2rem;
	line-height: 2rem;
	font-size: 1.125rem;
	color: var(--gray-100);
	justify-content: space-around;

	iframe {
		width: 100%;
		min-height: 350px;
		height: 100%;
		padding: 0.5rem 0;
	}

	p,
	ul {
		margin: 1.5rem 0;
	}

	p {
		text-align: justify;
	}

	ul {
		padding-left: 1.5rem;

		li {
			margin: 0.5rem 0;
		}
	}

	a:hover {
		color: var(--yellow-500);
	}

	pre {
		border-radius: 1rem;
		background: var(--gray-200);
		padding: 0.5rem;
		font-size: 0.8rem;
		color: var(--gray-900);
		line-height: 1rem;
		white-space: pre-wrap;
	}
}